<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/authors">
      <button>Display Authors</button>
    </form>

    <form action="/authors/new">
      <button>Add new Authors</button>
    </form>

    <form action="/searchQuote">
      <button>Search Quotes</button>
    </form>
  </body>
</html>
