<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <link href="/css/home.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <main>
      <p class="page_title">My Favorite Comics</p>
      <button id="addComicBtn">Add Comic</button>
      <div id="sitesBox"></div>
      <div id="randomComicBox"></div>
      <button id="randomComicBtn">Display Random Comic</button>
    </main>
    <%- include("partials/footer.ejs") %>
    <script src="js/home.js"></script>
  </body>
</html>
