<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Solar System</title>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <div
      class="background"
      style="
        background-image: url('<%= imageUrl %>');
        width: 100%;
        height: 100%;
        color: white;
      "
    >
      <h1>Solar System</h1>
      <%- include("partials/menu.ejs") %>
      <div></div>
      <%- include("partials/footer.ejs") %>
    </div>
  </body>
</html>
