<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saturn</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <h1>Saturn</h1>
    <%- include("partials/menu.ejs") %>
    <figure>
      <img src="<%= saturnData.image %>" alt="saturnImage" width="100%" />
      <figcaption><%= saturnData.description %></figcaption>
    </figure>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
