<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Famous Quotes</h1>
    <form action="/allAuthors">
      <button>All Authors</button>
    </form>
    <form action="/womanAuthors">
      <button>Woman Authors</button>
    </form>
    <form action="/allQuotes">
      <button>All Quotes</button>
    </form>
    <form action="/inspirationalQuotes">
      <button>inspirational Quotes</button>
    </form>
    <form action="/lifeQuotes">
      <button>Life Quotes</button>
    </form>
    <form action="/wisdomQuotes">
      <button>Wisdom Quotes</button>
    </form>
    <form action="/likeQuotes">
      <button>Like Quotes</button>
    </form>
    <form action="/categoryList">
      <button>Category List</button>
    </form>
    <form action="/topQuotes">
      <button>Top Three Quotes</button>
    </form>
    <form action="/authorPhotos">
      <button>Top Three Quotes</button>
    </form>
  </body>
</html>
