<footer class="bg-dark text-white pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>About Us</h5>
        <p>We explore the wonders of the solar system!</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Contact Us</h5>
        <p>Email: solarsystem@csumb.edu</p>
        <p>Phone: +123-456-7890</p>
      </div>
    </div>
  </div>
  <div class="bg-secondary text-center py-3">
    <p class="mb-0">&copy; 2024 Solar System | All Rights Reserved</p>
  </div>
</footer>
