<div class="navbar_wrapper">
  <img src="images/csumb_logo.svg" alt="logo" class="navbar_logo" />
  <div class="menu_box">
    <a href="/" class="menu_item">Home</a>
    <a href="/addComic" class="menu_item">Add Comic</a>
    <a href="/comic" class="menu_item">Comic Page</a>
    <a href="/addComment" class="menu_item">Add Comment</a>
  </div>

  <script>
    const currentPath = window.location.pathname;

    const menuItems = document.querySelectorAll(".menu_item");

    menuItems.forEach((item) => {
      if (item.getAttribute("href") === currentPath) {
        item.classList.add("menu_active");
      }
    });
  </script>
</div>
