html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

main {
  flex: 1;
  width: 100%;
}

.nav_box {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 0px;
  width: 100%;
  background-color: #f5f7fa;
}

.logo_box_small {
  display: flex;
  align-items: center;
  margin-left: 7%;
  margin-right: 10px;
}

.logo_image_small {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.logo_title_small {
  font-size: 20px;
  font-weight: bolder;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8%;
  width: 27%;
  min-width: 250px;
}

.nav_link {
  text-decoration: none;
  color: #18191f;
  font-weight: regular;

  &:hover {
    color: #4caf4f;
  }
}

.nav_link.active_link {
  text-decoration: none;
  color: #4caf4f;
  font-weight: bold;
}

.hero_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 96px 0px;
  background-color: #f5f7fa;
}

.source_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
  width: 100%;
  background-color: #f5f7fa;

  a {
    text-decoration: none;
    text-decoration: underline;
    font-size: 23px;
    font-weight: 400;
    color: #717171;
  }
}

.footer_box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 60px 0px;
  width: 100%;
  background-color: #263238;
}

.logo_box {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.logo_image {
  width: 43px;
  height: 43px;
  margin-right: 10px;
}

.logo_title {
  font-size: 30px;
  font-weight: bolder;
  color: #f5f7fa;
}

#footer_left {
  margin-left: 11%;
  min-width: 185px;

  p {
    font-size: 14px;
    color: #f5f7fa;
  }
}

#footer_right {
  display: flex;
  flex-direction: column;
  margin-right: 50%;

  div {
    display: flex;
    flex-direction: column;

    p {
      color: #f5f7fa;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      margin-right: 20%;
      margin-bottom: 12px;
    }
  }
}

#contact {
  margin: 0px;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #f5f7fa;
}

.font_60 {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 60px;
  font-weight: 600;
}

.font_36 {
  margin: 0px;
  font-size: 36px;
  font-weight: 600;
}

.font_28 {
  margin: 0px;
  font-size: 28px;
  font-weight: bold;
}

.font_23 {
  margin: 0px;
  font-size: 23px;
  font-weight: 400;
}

.font_16 {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
}

.main_green {
  color: #4caf4f;
}

.gray1 {
  color: #4d4d4d;
}

.gray2 {
  color: #717171;
}

.font_bold {
  font-weight: bold;
}
